/* Général ------------------------------------------------------------------------------------- */

body, p, legend, label, input {
    font: normal 8pt verdana, helvetica, sans-serif;
    margin: 0px;
}

/*+-------------------------------------------------------------------------+*/
/*|																			|*/
/*|									MENU									|*/
/*|																			|*/
/*+-------------------------------------------------------------------------+*/

.menu{
	position: fixed;
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.15));
	z-index: 2;
}

.menu div{
	margin-left: 20px;
	margin-right: auto;
}

.menu, a {
	background-color: #35B9D2;
	color: #FEFFFF;
	font-size: 14px;
	font-weight: 100;
	text-decoration: none;
}

.menu ul{
	list-style-type: none;
	margin: 0px;
	padding-right: 20px;
	padding-left: auto;
}

.menu ul li{
	display: inline-block;
	margin: 0;
}

.menu ul li a{
	display: flex;
	padding: 20px 20px 20px 20px;
	margin: 0;
}

.menu ul li a:hover{
	background-color: #475972;
	transition-duration: 0.2s;
}

.logo img{
	transform: translateY(4px);
}

/*+---------------------------------+*/
/*|				icones				|*/
/*+---------------------------------+*/

.accueil::before {
	content: '';
	width: 20px;
	height: 20px;
	background: url(img/Accueil.png) center center / contain no-repeat;
	margin-right: 3px;
	transform: translateY(-1px);
}

.a_propos::before {
	content: '';
	width: 20px;
	height: 20px;
	background: url(img/A_propos.png) center center / contain no-repeat;
	margin-right: 3px;
	transform: translateY(-1px);
}

.temoignages::before {
	content: '';
	width: 20px;
	height: 20px;
	background: url(img/Temoignages.png) center center / contain no-repeat;
	margin-right: 3px;
	transform: translateY(-1px);
}

.formation::before {
	content: '';
	width: 20px;
	height: 20px;
	background: url(img/Formation.png) center center / contain no-repeat;
	margin-right: 3px;
	transform: translateY(-1px);
}

.contact::before {
	content: '';
	width: 20px;
	height: 20px;
	background: url(img/Contact.png) center center / contain no-repeat;
	margin-right: 3px;
	transform: translateY(-1px);
}

a:hover::before{
	transform: rotate(-0.5turn);
	transition-duration: 0.5s;
}

/*+---------------------------------+*/
/*|				icones				|*/
/*+---------------------------------+*/

/*+-------------------------------------------------------------------------+*/
/*|																			|*/
/*|									MENU									|*/
/*|																			|*/
/*+-------------------------------------------------------------------------+*/

/*+-------------------------------------------------------------------------+*/
/*|																			|*/
/*|								ESPACE COMMENTAIRE							|*/
/*|																			|*/
/*+-------------------------------------------------------------------------+*/

.spaceComm{
	padding: 100px 80px 10px 80px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: flex-start;
}

.card{
	background-color: #FAF9F9;
	margin: 50px 5px 0px 5px;
	padding: 0px 20px 20px 20px;
	width: 400px;
	box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25);
	border-radius: 5px;
	border: 1px solid #FFFFFF;
	display: inline-block;
}

.card h1{
	margin: 0;
	padding-top: 15px;
	font-size: 16px;
}

.card p{
	padding: 0px 30px 0px 60px;
	font-size: 12px;
}

.card::before {
	display: inline-block;
	content: '';
	width: 50px;
	height: 50px;
	background: url(img/logo_message.png) center center / contain no-repeat;
	transform: translateY(+5px);
	z-index: 1;
}

.card:hover::before {
	transform: rotate(+0.03turn);
	transition-duration: 0.5s;
}

/*+-------------------------------------------------------------------------+*/
/*|																			|*/
/*|								Espace Commentaire							|*/
/*|																			|*/
/*+-------------------------------------------------------------------------+*/

