/* Général ------------------------------------------------------------------------------------- */

body, p, legend, label, input {
    font: normal 8pt verdana, helvetica, sans-serif;
    margin: 0px;
}

/*+-------------------------------------------------------------------------+*/
/*|																			|*/
/*|									MENU									|*/
/*|																			|*/
/*+-------------------------------------------------------------------------+*/

.menu{
	position: fixed;
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.15));
	z-index: 2;
}

.menu div{
	margin-left: 20px;
	margin-right: auto;
}

.menu, a {
	background-color: #35B9D2;
	color: #FEFFFF;
	font-size: 14px;
	font-weight: 100;
	text-decoration: none;
}

.menu ul{
	list-style-type: none;
	margin: 0px;
	padding-right: 20px;
	padding-left: auto;
}

.menu ul li{
	display: inline-block;
	margin: 0;
}

.menu ul li a{
	display: flex;
	padding: 20px 20px 20px 20px;
	margin: 0;
}

.menu ul li a:hover{
	background-color: #475972;
	transition-duration: 0.2s;
}

.logo img{
	transform: translateY(4px);
}

/*+---------------------------------+*/
/*|				icones				|*/
/*+---------------------------------+*/

.accueil::before {
	content: '';
	width: 20px;
	height: 20px;
	background: url(img/Accueil.png) center center / contain no-repeat;
	margin-right: 3px;
	transform: translateY(-1px);
}

.a_propos::before {
	content: '';
	width: 20px;
	height: 20px;
	background: url(img/A_propos.png) center center / contain no-repeat;
	margin-right: 3px;
	transform: translateY(-1px);
}

.temoignages::before {
	content: '';
	width: 20px;
	height: 20px;
	background: url(img/Temoignages.png) center center / contain no-repeat;
	margin-right: 3px;
	transform: translateY(-1px);
}

.formation::before {
	content: '';
	width: 20px;
	height: 20px;
	background: url(img/Formation.png) center center / contain no-repeat;
	margin-right: 3px;
	transform: translateY(-1px);
}

.contact::before {
	content: '';
	width: 20px;
	height: 20px;
	background: url(img/Contact.png) center center / contain no-repeat;
	margin-right: 3px;
	transform: translateY(-1px);
}

a:hover::before{
	transform: rotate(-0.5turn);
	transition-duration: 0.5s;
}

/*+---------------------------------+*/
/*|				icones				|*/
/*+---------------------------------+*/

/*+-------------------------------------------------------------------------+*/
/*|																			|*/
/*|									MENU									|*/
/*|																			|*/
/*+-------------------------------------------------------------------------+*/

/*+-------------------------------------------------------------------------+*/
/*|																			|*/
/*|									TRIO									|*/
/*|																			|*/
/*+-------------------------------------------------------------------------+*/

.trio {
	display: flex;
	padding: 180px 20px 180px 20px;
	--imgSize: 80px;
}

.trio h1, p{
	text-align: center;
}

.trio p{
	font-size: 15px;
}

.trio div{
	margin-left: auto;
    margin-right: auto;
    padding: 0px 40px 0px 40px;
}

.imgBoussole {
	width: var(--imgSize);
	height: var(--imgSize);
	background: url(img/Boussole.png) center center / contain no-repeat;
}

.Negocier {
	width: var(--imgSize);
	height: var(--imgSize);
	background: url(img/Negocier.png) center center / contain no-repeat;
}

.Methodologie {
	width: var(--imgSize);
	height: var(--imgSize);
	background: url(img/Methodologie.png) center center / contain no-repeat;
}


/*+-------------------------------------------------------------------------+*/
/*|																			|*/
/*|									TRIO									|*/
/*|																			|*/
/*+-------------------------------------------------------------------------+*/

.img{
  	background-size: cover;
  	height: 300px;
	background: no-repeat center/100% url(img/lyonGood.jpg) fixed;
	box-shadow: inset 0px 0px 20px rgb(0 0 0 / 30%);
	margin: 0px 0px 200px 0px;
}

/*+-------------------------------------------------------------------------+*/
/*|																			|*/
/*|									TRIO									|*/
/*|																			|*/
/*+-------------------------------------------------------------------------+*/

/*+-------------------------------------------------------------------------+*/
/*|																			|*/
/*|									BANDEAU									|*/
/*|																			|*/
/*+-------------------------------------------------------------------------+*/

.content {
  position: relative;
}

.bandeau{
	display: flex;
	flex-direction: column;
  	width: 100%;
  	height: 150px;
	background-color: #35B9D2;
	box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
}

.bandeau::before {
	content: '';
	width: 120px;
	height: 120px;
	background: url(img/Bandeau.png) center center / contain no-repeat;
	position: absolute;
	top: 0px; left: 0px;
}

.bandeau h1{
	padding: 20px 0px 0px 0px;
	margin: 0px;
	font-family: Rokkitt;
	text-align: center;
	color: #FFFFFF;
	font-size: 20px;
	font-style: normal;
	font-weight: 600;
	letter-spacing: .1rem;
}

.bandeau p{
	margin: 45px 0px 0px 0px;
	font-size: 11px;
	font-style: normal;
	font-weight: 100;
}

.bandeau a{
	padding: 10px 35px 10px 35px;
	border: 1px solid #FFFFFF;
	box-sizing: border-box;
	border-radius: 3px;
}

.bandeau a:hover{
	background-color: #475972;
	border: 0px solid #FFFFFF;
}

/*+-------------------------------------------------------------------------+*/
/*|																			|*/
/*|									BANDEAU									|*/
/*|																			|*/
/*+-------------------------------------------------------------------------+*/

/*+-------------------------------------------------------------------------+*/
/*|																			|*/
/*|								ESPACE COMMENTAIRE							|*/
/*|																			|*/
/*+-------------------------------------------------------------------------+*/

.spaceComm{
	padding: 100px 80px 10px 80px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: flex-start;
}

.card{
	background-color: #FAF9F9;
	margin: 50px 5px 0px 5px;
	padding: 0px 20px 20px 20px;
	width: 400px;
	box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
	border-radius: 5px;
	border: 1px solid #FFFFFF;
	display: inline-block;
}

.card h1{
	margin: 0;
	padding-top: 15px;
	font-size: 16px;
}

.card p{
	padding: 0px 30px 0px 60px;
	font-size: 12px;
}

.card::before {
	display: inline-block;
	content: '';
	width: 50px;
	height: 50px;
	background: url(img/logo_message.png) center center / contain no-repeat;
	transform: translateY(+5px);
	z-index: 1;
}

.card:hover::before {
	transform: rotate(+0.03turn);
	transition-duration: 0.5s;
}

/*+-------------------------------------------------------------------------+*/
/*|																			|*/
/*|								Espace Commentaire							|*/
/*|																			|*/
/*+-------------------------------------------------------------------------+*/

/*+-------------------------------------------------------------------------+*/
/*|																			|*/
/*|								Tableau Admin								|*/
/*|																			|*/
/*+-------------------------------------------------------------------------+*/

.tableau{
	background-color: rgba(223, 223, 223, 0.4);
	width: 98%;
	padding: 20px 0px 5px 0px;
  	margin: 60px auto 30px auto;
	border-radius: 5px;
	box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
}

table{
  border-collapse: collapse;
  width: 100%;
  margin: 0px auto 0px auto;
}

caption{
	
  	margin: 0px 0px 20px 0px;
}

table td{
	padding: 15px 8px 15px 8px;
}

table tr{
	background-color: rgba(250, 249, 249, 1);
}

table th{
	padding: 15px 8px 15px 8px;
}

table a{
	display: block;
    margin-left: auto;
    margin-right: auto;
	content: '';
	width: 20px;
	height: 20px;
	background: url(img/Delete.png) center center / contain no-repeat;
	transition-duration: 0.5s;
}

table a:hover{
	background: url(img/DeleteR.png) center center / contain no-repeat;
	transition-duration: 0.5s;
}

.content:hover{
	background-color: rgba(235, 255, 255, 0.01);
	transition-duration: 0.1s;
}


/*+-------------------------------------------------------------------------+*/
/*|																			|*/
/*|								Tableau Admin								|*/
/*|																			|*/
/*+-------------------------------------------------------------------------+*/

