<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">

	<filter>
		<filter-name>FilterAdm</filter-name>
		<filter-class>com.loicimo.filter.FilterAdm</filter-class>
	</filter>
	
	<filter-mapping>
		<filter-name>FilterAdm</filter-name>
		<url-pattern>/META-INF/restreint/*</url-pattern>
	</filter-mapping>
	

	<listener>
    	<listener-class>com.loicimo.config.InitialisationDaoFactory</listener-class>
	</listener>

	<servlet>
		<servlet-name>Accueil</servlet-name>
		<servlet-class>com.loicimo.servlets.Accueil</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>Admin</servlet-name>
		<servlet-class>com.loicimo.servlets.Admin</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>AdminDeletComm</servlet-name>
		<servlet-class>com.loicimo.servlets.AdminDeletComm</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>ConnectAdm</servlet-name>
		<servlet-class>com.loicimo.servlets.ConnectAdm</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Accueil</servlet-name>
		<url-pattern>/accueil</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>Admin</servlet-name>
		<url-pattern>/admin</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>AdminDeletComm</servlet-name>
		<url-pattern>/adminDeletComm</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>ConnectAdm</servlet-name>
		<url-pattern>/connectAdm</url-pattern>
	</servlet-mapping>
  
</web-app>